<div id="answer-form-<%= @question.id %>">
  <div class="lesson-question">
    <%= raw @question.question %>
  </div>

  <%= form_for [@question, @answer], :remote => true do %>

  <div class="lesson-question-form">
    <%= raw @question.question_form %>
  </div>
  
  <div id="submit-button-<%= @question.id %>">
    <p><%= submit_tag "Submit Answer", class: 'answer-submit-button' %></p>
  </div>
  
  <% end %>
</div>

<div id="answer-right-<%= @question.id %>">

  <table>
  <tr>
    <td><%= image_tag "check-mark.png", :height => 100 %></td>
    <td>
      <p>Your correct answer has been saved.

	<% unless @question.explanation.nil? || @question.explanation.empty? %>
	There is an <%= link_to_function "explanation", 
	"$('#answer-explanation-#{@question.id}').show();" %> for this question.
	<% end %>
      </p>
    </td>
  </tr>
  </table>

</div>

<div id="answer-wrong-<%= @question.id %>">

  <table>
  <tr>
    <td><%= image_tag "cross-mark.png", :height => 100 %></td>
    <td>
      <p>Your wrong answer has been saved.

	<% unless @question.explanation.nil? || @question.explanation.empty? %>
	There is an <%= link_to_function "explanation", 
	"$('#answer-explanation-#{@question.id}').show();" %> for this question.
	<% end %>

	You can <%= link_to_function "click here", 
   "$('#answer-wrong-#{@question.id}').hide(); $('#submit-button-#{@question.id}').show();" %>
	to try this question again.
      </p>
    </td>
  </tr>
  </table>

</div>

<div id="answer-explanation-<%= @question.id %>">
  <p><%= link_to_function "Hide Explanation", 
	 "$('#answer-explanation-#{@question.id}').hide();" %>
  </p>

  <%= raw @question.explanation %>
</div>

<% if @correct %>
  <%= javascript_tag "$('#submit-button-#{@question.id}').hide();" %>
<% else %>
  <%= javascript_tag <<-"END_JS"
    $('#answer-right-#{@question.id}').hide();
    $('#bonus-video-#{@question.id}').hide();
  END_JS
  %>
<% end %>

<%= javascript_tag <<-"END_JS"
  $('#answer-wrong-#{@question.id}').hide();
  $('#answer-explanation-#{@question.id}').hide();
END_JS
%>

