<div id="answer-form-<%= @question.id %>">
  
  <%= form_for [@question, @answer], :remote => true do %>
  
  <div class="lesson-question">
    <%= raw @question.question %>
  </div>
  
  <div id="submit-button-<%= @question.id %>">
    <p><%= submit_tag "Submit Answer" %></p>
  </div>
  
  <% end %>
</div>

<div id="answer-right-<%= @question.id %>">

  <table>
  <tr>
    <td><%= image_tag "check-mark.png", :height => 100 %></td>
    <td><p>Your correct answer has been saved. 
	<% unless @question.video.nil? || @question.video.empty? %>
	There is an <%= link_to "explaination video", @question %> for this question.
	<% end %>
    </p></td>
  </tr>
  </table>

</div>

<div id="answer-wrong-<%= @question.id %>">

  <table>
  <tr>
    <td><%= image_tag "cross-mark.png", :height => 100 %></td>
    <td>
      <p>Your wrong answer has been saved.

	<% unless @question.video.nil? || @question.video.empty? %>
	There is an <%= link_to "explaination video", @question %> for this question.
	<% end %>

	You can <%= link_to_function "click here", 
   "$('#answer-wrong-#{@question.id}').hide(); $('#submit-button-#{@question.id}').show();" %>
	to try this question again.
      </p>
    </td>
  </tr>
  </table>

</div>

<% if @correct %>
  <%= javascript_tag "$('#submit-button-#{@question.id}').hide();" %>
<% else %>
  <%= javascript_tag "$('#answer-right-#{@question.id}').hide();" %>
  <%= javascript_tag "$('#bonus-video-#{@question.id}').hide();" %>
<% end %>

<%= javascript_tag "$('#answer-wrong-#{@question.id}').hide();" %>

