<%= form_for [@lesson, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this 
	question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>These fields all expect raw HTML code for formatting and/or forms.</p>

  <table class="edit-form">
    <tr>
      <td><%= f.label :question %></td>
      <td><%= f.text_area :question %></td>
    </tr>
    <tr>
      <td><%= f.label :question_form %></td>
      <td><%= f.text_area :question_form %></td>
    </tr>
    <tr>
      <td><%= f.label :correct_answer %></td>
      <td><%= f.text_field :correct_answer %></td>
    </tr>
    <tr>
      <td><%= f.label :explanation %></td>
      <td><%= f.text_area :explanation %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
