<%= form_for [@lesson, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="edit-form">
    <tr>
      <td>
	<p><%= f.label :question %></p>
	<p>(HTML code. Include a form input<br> 
	  with name="answer[answer]".)</p>
      </td>
      <td><%= f.text_area :question %></td>
    </tr>
    <tr>
      <td><%= f.label :correct_answer %></td>
      <td><%= f.text_field :correct_answer %></td>
    </tr>
    <tr>
      <td>
	<p><%= f.label :video, "Explaination Video" %></p>
	<p>(Paste YouTube embed code here.)</p>
      </td>
      <td>
	<p><%= f.text_area :video, size: "40x5" %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.label :due_date, "Due Date" %></td>
      <td><%= f.date_select :due_date %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
