<p id="notice"><%= notice %></p>

<p>
  <b>Lesson:</b>
  <%= @question.lesson_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Correct answer:</b>
  <%= @question.correct_answer %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
