<% @page_title = "User Authenticated" %>

<p>You have successfully logged in to Bottlenose. You can bookmark this
page to to access the site without clicking the link in your email.</p>

<% unless @logged_in_user.reasonable_name? %>
  <div class="well">
    <h2>Important: Update Name</h2>

    <p>The name associated with your account doesn't look plausible. Please
    use the form below to set your full name.</p>

    <p>Name Guidelines:</p>
    <ul>
      <li>"First Middle Last", "First M. Last", and "First Last" are good.</li>
      
      <li>If your full name is really long, leave out some of the middle bits.
      (e.g. "Pablo, Diego, José, Francisco de Paula, Juan
      Nepomuceno, Maria de los Remedios, Cipriano de la Santisima Trinidad
      Picasso" should just put "Pablo Picasso").</li>
    </ul>
    
    <%= form_for @logged_in_user do |ff| %>
      <div class="form-group">
        <%= label :name, "Full Name" %>
        <%= ff.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag "Update Name", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>


<ul>
  <li><%= link_to "Go To Courses", courses_path %></li>
</ul>
