<%= form_for([@course, @team]) do |f| %>
    <div class="row">
        <% if @team.errors.any? %>
            <div id="error_explanation">
                <h3><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h3>
                <ul>
		    <% @team.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
		    <% end %>
                </ul>
            </div>
        <% end %>
    </div>

    <%= f.hidden_field :course_id %>

    <div class="row">
        <div class="col-md-3">
            <h3>Active Dates</h3>

            <div class="form-group">
		<%= f.label :start_date %><br>
		<%= f.date_select :start_date %>
            </div>

            <div class="form-group">
		<%= f.label :end_date %><br>
		<%= f.date_select :end_date, include_blank: true %>
            </div>
        </div>

        <div class="col-md-9">
            <h3>Team Members</h3>

            <%= select_tag(:users, names_for_select(@team.users), multiple: true, class: "form-control") %><br />
            <div class="remove-users-btn btn btn-default">Remove Selected</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <%= f.submit id: "submit-btn", class: 'btn btn-primary' %>
            </div>
        </div>
    </div>

    <div class="row">
	<div class="col-md-6">
	    <h3>Active Teams</h3>

            <table id="teams" class="table table-striped">
                <thead>
                    <tr>
                        <th>Members</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @teams.each do |team| %>
                        <tr>
                            <td><%= team.member_names %></td>
                            <td>
                                <%= link_to "Disolve", course_team_divorce_path(@course, team), class: "btn btn-danger btn-xs pull-right", method: :patch, data: { confirm: "Are you sure?" } %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
	</div>

	<div class="col-md-6">
	    <h3>Stuents Without Teams</h3>

            <table id="users" class="table table-striped">
		<thead>
		    <tr>
			<th>Name</th>
			<th></th>
		    </tr>
		</thead>
		<tbody>
		    <% @others.each do |user| %>
			<%= content_tag("tr", class: "user", data: { id: user.id, name: user.name }) do %>
			    <td><%= user.name %></td>
                            <td><div class="add-user-btn btn btn-default btn-xs pull-right">Add</div></td>
			<% end %>
		    <% end %>
		</tbody>
            </table>
	</div>
    </div>
<% end %>
