<% @page_title = "Teams for #{@course.name}" %>

<p id="notice"><%= notice %></p>

<%= link_to 'New Team', new_course_team_path(@course) %>

<div class="row">
    <div class="col-md-6">
        <h3>Active Teams</h3>
        <%= render "table", teams: @active_teams %>
    </div>

    <div class="col-md-6">
        <h3>Students Without Active Teams</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody>
            <% @students_without_active_team.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Inactive Teams</h3>
        <%= render "table", teams: @inactive_teams %>
    </div>
</div>
