<% @page_title = "#{@course.name} - Team ##{@team.id}" %>

<p id="notice"><%= notice %></p>

<p>
    Team starts on
    <strong><%= @team.start_date.strftime("%b %d, %Y") %></strong>
    <% if @team.end_date %>
        and ends the night before
        <strong><%= @team.end_date.strftime("%b %d, %Y") %></strong>.
    <% else %>
        and doesn't end.
    <% end %>
</p>

<h4>Status</h4>
<p><%= @team.active? ? "Active" : "Inactive" %></p>

<h4>Members</h4>
<ul>
    <% @team.users.each do |uu| %>
        <li><%= link_to uu.name, uu.registration_for(@course) %></li>
    <% end %>
</ul>

<% if @team.active? %>
    <h4>Desolve</h4>
    <p>
        A team can be desolved early, this will set it's end date to the current
        date.
    </p>
    <%= link_to "End now", course_team_divorce_path(@course, @team),
    class: "btn btn-danger btn-xs", method: :patch %>
<% end %>
