<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @team.course_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @team.start_date %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
