<p id="notice"><%= notice %></p>

<p>
  <strong>Submission:</strong>
  <%= @grading_job.submission_id %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @grading_job.started_at %>
</p>

<%= link_to 'Edit', edit_grading_job_path(@grading_job) %> |
<%= link_to 'Back', grading_jobs_path %>
