<p>
  <strong>Course:</strong>
  <%= @grade_type.course_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade_type.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @grade_type.weight %>
</p>

<%= link_to 'Edit', edit_course_grade_type_path(@grade_type) %> |
<%= link_to 'Back', grade_types_path %>
