<%= form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this
        assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignment, "Assignment Text" %>
    <br>(Allows HTML markup)
    <%= f.text_area :assignment, class: "form-control rich-text" %>
  </div>
  <div class="form-group">
    <%= f.label :bucket %>
    <%= f.select :bucket_id, @course.buckets.map {|bb| [bb.name, bb.id]}, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignment_file %>
    <%= f.file_field :assignment_file %>
  </div>
  <div class="form-group">
    <%= f.label :grading_file %>
    <%= f.file_field :grading_file %>
  </div>
  <div class="form-group">
    <%= f.label :solution_file %>
    <%= f.file_field :solution_file %>
  </div>
  <div class="form-group">
    <%= f.label :points_available %>
    <br>(This is a weight relative to other assignments in the same bucket.)
    <%= f.text_field :points_available, {size: 10, default: 100, class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :hide_grading, "Hide Grading?" %>
    <%= f.check_box :hide_grading %>
    <br>(Assignment scores and teacher notes are hidden.)
  </div>
  <div class="form-group">
    <%= f.label :team_subs, "Team Submissions?" %>
    <%= f.check_box :team_subs %>
    <br>(Can only submit as a member of a team.)
  </div>
  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, 'data-provide' => 'datepicker', class: 'form-control' %>
    <br>(Assignment should not be submitted after this day.)
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $(function(){  });
</script>
