<%= form_for [@chapter, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chapter_id %>

  <table class="edit-form">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :assignment %></td>
      <td><%= f.text_area :assignment, :class => "rich-text" %></td>
    </tr>
    <tr>
      <td><%= f.label :assignment_file %></td>
      <td><%= f.file_field :assignment_file %></td>
    </tr>
    <tr>
      <td><%= f.label :grading_file %></td>
      <td><%= f.file_field :grading_file %></td>
    </tr>
    <tr>
      <td><%= f.label :points_available %></td>
      <td>
	<%= f.text_field :points_available, {:size => 10, :default => 100} %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :hide_grading %> <br>
	(Assignment scores and teacher notes are hidden.)
      </td>
      <td><%= f.check_box :hide_grading %></td>
    </tr>
    <tr>
      <td><%= f.label :due_date %> <br>
        (Assignment should be submitted before this day.)</td>
      <td><%= f.date_select :due_date %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
