<% @page_title = "Assignment: #{@assignment.name}" %>

<p>
  <%= link_to "Back to Chapter: #{@chapter.name}", @chapter  %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit this Assignment', edit_assignment_path(@assignment) %>
<% end %>
</p>

<h1>Assignment Description</h1>

<div>
  <%= raw @assignment.assignment %>
</div>

<p>
  <b>Assignment Download:</b>
  <%= link_to @assignment.assignment_file_name, @assignment.file_path %>
</p>

<h1>Your Submissions</h1>

<ul>
<% @submissions.each do |submission| %>
  <li><%= link_to submission.updated_at, submission %> 
	- <%= submission.user.name %>
	- Score: <%= submission.score %></li>
<% end %>
</ul>

<p><%= link_to "New Submission", new_assignment_submission_path(@assignment) %></p>
