<% @page_title = "Assignment: #{@assignment.name}" %>

<p>
  <%= link_to "Back to Chapter: #{@chapter.name}", @chapter  %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit this Assignment', edit_assignment_path(@assignment) %>
<% end %>
</p>

<h1>Assignment Description</h1>

<p>Due Date: <%= @assignment.due_date %></p>

<div class="prose">
  <%= raw @assignment.assignment %>
</div>

<p>
  <b>Assignment Download:</b>
  <%= link_to @assignment.assignment_file_name, @assignment.assignment_file_path %>
</p>

<% if @logged_in_user.course_admin?(@course) %>
  <p>
    <b>Grading File Download:</b>
    <%= link_to @assignment.grading_file_name, @assignment.grading_file_path %>
  </p>
  
  <p>
    <b>Solution File Download:</b>
    <%= link_to @assignment.solution_file_name, @assignment.solution_file_path %>
  </p>

  <h1>Student Submissions</h1>

  <p><%= link_to "Manually Add Student Grade", assignment_path(@assignment) + '/manual_grade' %></p>

  <table class="table table-striped">
    <tr>
      <th>Student</th>
      <th>Attempts</th>
      <th>Date</th>
      <th>Status</th>
      <th>Automatic</th>
      <th>Teacher</th>
      <th>Score</th>
      <th>Link</th>
    </tr>
    
    <% @assignment.best_submissions.each do |sub| %>
    <tr id="sub-for-user-<%= sub.user.id %>">
      <%= render 'submissions/row_form', :sub => sub %>
    </tr>
    <% end %>
  </table>
  
<% end %>



<h1>Your Submissions</h1>

<p><%= link_to "New Submission", new_assignment_submission_path(@assignment) %></p>

<ul>
<% @submissions.each do |submission| %>
  <li>
    <%= link_to "(view)", submission %>
    <span class="local-time"><%= submission.created_at %></span>
    - <%= submission.user.name %>
	  - Score: <%= show_score(submission.score) 
    %>&nbsp;/&nbsp;<%= @assignment.points_available %>
  </li>
<% end %>
</ul>

