<% @page_title = "Assignment: #{@assignment.name}" %>

<p>
  <%= link_to "Back to Chapter: #{@chapter.name}", @chapter  %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit this Assignment', edit_assignment_path(@assignment) %>
<% end %>
</p>

<h1>Assignment Description</h1>

<div>
  <%= raw @assignment.assignment %>
</div>

<p>
  <b>Assignment Download:</b>
  <%= link_to @assignment.assignment_file_name, @assignment.assignment_file_path %>
</p>

<% if @logged_in_user.course_admin?(@course) %>
<p>
  <b>Grading File Download:</b>
  <%= link_to @assignment.grading_file_name, @assignment.grading_file_path %>
</p>

<h1>All Submissions</h1>

<table class="pretty-list">
  <tr>
    <th>Student</th>
    <th>Date</th>
    <th>Score</th>
    <th>Status</th>
    <th>Link</th>
  </tr>

<% @course.student_registrations.each do |sreg| %>
  <% sub = @assignment.best_submission_for(sreg.user) %>
  <tr>
    <td><%= sreg.user.name %></td>
    <td><%= sub.nil? ? 'none' : sub.created_at %></td>
    <td><%= show_score(@assignment.best_score_for(sreg.user))
        %>&nbsp;/&nbsp;<%= @assignment.points_available %></td>
    <td><%= image_tag @assignment.best_score_image_for(sreg.user),
	              :height => 32 %></td>
    <td><%= sub.nil? ? 'none' : link_to("Best", sub) %></td>
  </tr>
<% end %>
</table>

<% end %>

<h1>Your Submissions</h1>

<ul>
<% @submissions.each do |submission| %>
  <li><%= link_to submission.updated_at, submission %> 
	- <%= submission.user.name %>
	- Score: <%= show_score(submission.score) 
	  %>&nbsp;/&nbsp;<%= @assignment.points_available %></li>
<% end %>
</ul>

<p><%= link_to "New Submission", new_assignment_submission_path(@assignment) %></p>
