<% @page_title = "List of Terms" %>

<p><%= link_to 'New Term', new_term_path %></p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Archived?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terms.each do |term| %>
  <tr>
    <td><%= term.name %></td>
    <td style="text-align: center"><%= term.archived? ? "yes" : "no" %></td>
    <td><%= link_to 'Show', term %></td>
    <td><%= link_to 'Edit', edit_term_path(term) %></td>
    <td>
      <%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
