<% @page_title = "User: #{@user.name}" %>

<p>
<%= link_to 'Back to List', users_path %> |
<%= link_to 'Edit User', edit_user_path(@user) %>
</p>

<table class="pretty-list">
<tr>
  <td>Name:</td>
  <td><%= @user.name %></td>
</tr>
<tr>
  <td>Email:</td>
  <td><%= @user.email %></td>
</tr>
<tr>
  <td>Site Admin?</td>
  <td><%= @user.site_admin? ? "Yes" : "No" %></td>
</tr>
</table>

