<%= form_for [@course, @registration] do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :course_id %>

  <div class="form-group">
    <%= label :user_id, "User" %>
    <%= f.select :user_id, select_user_hash, {:include_blank => true} %>
  </div>
  <div class="form-group">
    <%= label :teacher, "Teacher" %>
    <%= f.check_box :teacher %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
