<% @page_title = "Manage Registrations" %>

<p><%= link_to "Back to Course: #{@course.name}", @course %></p>

<h1>Add a teacher</h1>

<p>(Must be an existing user.)</p>

<%= form_for [@course, @teacher_reg] do |f| %>
  <%= f.hidden_field :course_id %>
  <%= f.hidden_field :teacher %>

  <div class="form-group">
    <%= label :user_id, "Teacher" %>
    <%= f.select :user_id, select_user_hash, {:include_blank => true} %>
  </div>
  <div class="form-group">
    <%= submit_tag "Add" %>
  </div>
<% end %>

<h1>Current Teachers</h1>

<table class="table table-striped">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Show in Reports</th>
  <th>&nbsp;</th>
</tr>

<% @course.teacher_registrations.each do |treg| %>
  <% teacher = treg.user %>
<tr>
  <td><%= teacher.name %></td>
  <td><%= teacher.email %></td>
  <td>
    <span class="show-user-<%= treg.id %>"><%= treg.show_in_lists? ? "Yes" : "No" %></span>
    (<%= link_to "Toggle", registration_show_toggle_path(treg.id), :remote => true %>)
  </td>
  <td><%= link_to 'Destroy', [@course, treg], 
            { :method => :delete, :data => { confirm: 'Are you sure?' } } %></td>
</tr>
<% end %>
</table>

<h1>Add A Student</h1>

<p>(A new user will be created and notified if needed.)</p>

<%= form_for [@course, @student_reg] do |f| %>
<%= f.hidden_field :course_id %>
<%= f.hidden_field :teacher %>

  <div class="form-group">
    <label for="student_name">Name</label>
    <%= text_field_tag :student_name, "", class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="student_email">Email</label>
    <%= text_field_tag :student_email, "", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag "Add Student", class: 'btn btn-primary' %>
  </div>
<% end %>

<h1>Current Students</h1>

<table class="table table-striped">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Show In Reports</th>
  <th>&nbsp;</th>
</tr>

<% @course.student_registrations.each do |sreg| %>
  <% student = sreg.user %>
<tr>
  <td><%= student.name %></td>
  <td><%= student.email %></td>
  <td>
    <span class="show-user-<%= sreg.id %>"><%= sreg.show_in_lists? ? "Yes" : "No" %></span>
    (<%= link_to "Toggle", registration_show_toggle_path(sreg.id), :remote => true %>)
  </td>
  <td><%= link_to 'Destroy', [@course, sreg], 
            { :method => :delete, :data => { confirm: 'Are you sure?' } } %></td>
</tr>
<% end %>
</table>
