<% @page_title = "Manage Registrations" %>

<p><%= link_to "Back to Course: #{@course.name}", @course %></p>

<h1>Add a teacher</h1>

<p>(Must be an existing user.)</p>

<%= form_for [@course, @teacher_reg] do |f| %>
<%= f.hidden_field :course_id %>
<%= f.hidden_field :teacher %>

<table class="edit-form">
  <tr>
    <td><%= label :user_id, "Teacher" %></td>
    <td>
      <div class="ui-widget">
	<%= f.select :user_id, select_user_hash, {:include_blank => true} %>
      </div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= submit_tag "Add" %></td>
  </tr>
</table>
<% end %>

<h1>Current Teachers</h1>

<table class="pretty-list">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>&nbsp;</th>
</tr>

<% @course.teacher_registrations.each do |treg| %>
  <% teacher = treg.user %>
<tr>
  <td><%= teacher.name %></td>
  <td><%= teacher.email %></td>
  <td><%= link_to 'Destroy', [@course, treg], 
            { :method => :delete, :data => { confirm: 'Are you sure?' } } %></td>
</tr>
<% end %>
</table>

<h1>Add A Student</h1>

<p>(A new user will be created and notified if needed.)</p>

<%= form_for [@course, @student_reg] do |f| %>
<%= f.hidden_field :course_id %>
<%= f.hidden_field :teacher %>

<table class="edit-form">
  <tr>
    <td><label for="student_name">Name</label></td>
    <td><%= text_field_tag :student_name, "" %></td>
  </tr>
  <tr>
    <td><label for="student_email">Email</label></td>
    <td><%= text_field_tag :student_email, "" %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= submit_tag "Register" %></td>
  </tr>
</table>
<% end %>

</table>

<h1>Current Students</h1>

<table class="pretty-list">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>&nbsp;</th>
</tr>

<% @course.student_registrations.each do |sreg| %>
  <% student = sreg.user %>
<tr>
  <td><%= student.name %></td>
  <td><%= student.email %></td>
  <td><%= link_to 'Destroy', [@course, sreg], 
            { :method => :delete, :data => { confirm: 'Are you sure?' } } %></td>
</tr>
<% end %>
</table>
