<% @page_title = "Student Status Report" %>

<p>
<%= link_to "Back to Course: #{@course.name}", @course %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to "Manage Registrations", course_registrations_path(@course) %>
<% end %>
</p>

<table class="table table-striped">
  <tr>
    <td>Course</td>
    <td><%= @course.name %></td>
  </tr>
  <tr>
    <td>User</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Teacher?</td>
    <td>
      <%= @registration.teacher? ? "Yes" : "No" %>
      <% if @logged_in_user.course_admin?(@course) %>
        (<%= link_to "Edit", [:edit, @registration] %>)
      <% end %>
    </td>
  </tr>
</table>

<h1>Assignments</h1>

<table class="table table-striped">
  <tr>
    <th>Chapter</th>
    <th>Name</th>
    <th>Status</th>
    <th>Attempts</th>
    <th>Score</th>
    <th>Graded&nbsp;By</th>
    <th>Submission</th>
  </tr>

<% @course.chapters.order(:name).each do |chapter| %>
  <% chapter.assignments.order(:name).each do |assignment| %>
    <% sub = assignment.main_submission_for(@user) %>
    <tr>
      <td><%= link_to chapter.name, chapter %></td>
      <td><%= link_to assignment.name, assignment %></td>
      <td><%= status_image(sub) %></td>
      <td><%= assignment.submissions_for(@user).count %>
	(<%= link_to "List", user_assignment_submissions_path(@user, assignment) %>)
      </td>
      <td><%= show_score(assignment.main_score_for(@user), assignment) %></td>
      <td>
	<% if sub.teacher_score.nil? %>
	  Computer
	<% else %>
	  Human
	<% end %>
      </td>
      <td><%= (sub.nil? || sub.new_record?) ? '-' : link_to("Best", sub) %></td>
    </tr>
  <% end %>
<% end %>

<tr>
  <td><strong>Total</strong></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><%= @score.points %>&nbsp;/&nbsp;<%= @score.total %></td>
  <td>( <%=  @score.percent %>% )</td>
  <td>&nbsp;</td>
</tr>

</table>

