<% @page_title = "Student Status Report" %>

<table class="table table-striped">
  <tr>
    <td>Course</td>
    <td><%= @course.name %></td>
  </tr>
  <tr>
    <td>User</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Teacher?</td>
    <td>
      <%= @registration.teacher? ? "Yes" : "No" %>
      <% if current_user.course_admin?(@course) %>
        (<%= link_to "Edit", course_registrations_path(@course) %>)
      <% end %>
    </td>
  </tr>
</table>

<h1>Overview</h1>

<table class="table table-striped">
  <tr>
    <th>Grade Bucket</th>
    <th>Weight</th>
    <th>Score</th>
  </tr>

  <% @course.buckets.order(:name).each do |bucket| %>
    <tr>
      <td><%= bucket.name %></td>
      <td><%= bucket.weight %></td>
      <td><%= bucket.points_percent(@user) %>%</td>
    </tr>
  <% end %>

  <tr>
    <td><strong>Total</strong></td>
    <td style="font-weight: bold"><%= @course.total_bucket_weight %></td>
    <td sytle="font-weight: bold" id="total-score"><%= @registration.total_score %>%</td>
  </tr>
</table>

<% @course.buckets.order(:name).each do |bucket| %>

<h1><%= bucket.name %></h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Attempts</th>
    <th>Score</th>
    <th>Graded&nbsp;By</th>
    <th>Submission</th>
  </tr>

  <% bucket.assignments.order(:name).each do |assignment| %>
    <% sub = assignment.best_sub_for(@user) %>
    <tr>
      <td><%= link_to assignment.name, assignment %></td>
      <td><%= status_image(sub) %></td>
      <td><%= assignment.submissions_for(@user).count %>
	(<%= link_to "List", user_assignment_submissions_path(@user, assignment) %>)
      </td>
      <td><%= show_score(assignment.best_sub_for(@user).score, assignment) %></td>
      <td><%= score_source(sub) %></td>
      <td><%= (sub.nil? || sub.new_record?) ? '-' : link_to("Best", sub) %></td>
    </tr>
  <% end %>

  <tr>
    <td><strong>Total</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= bucket.points_earned(@user) %>&nbsp;/&nbsp;<%= bucket.points_available(@user) %></td>
    <td>= <%= bucket.points_percent(@user) %>%</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<% end %>


