<% @page_title = "Submissions by #{@user.name} for #{@assignment.name}" %>

<p>
  <%= link_to "Back to Assignment", @assignment %> |
  <%= link_to "Back to Student Report", @registration %>
</p>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Automatic</th>
    <th>Teacher</th>
    <th>Score</th>
    <th>Link</th>
  </tr>

<% @submissions.each do |sub| %>
  <tr>
    <td><span class="local-time"><%= sub.created_at %></span></td>
    <td><%= status_image(sub) %></td>
    <td><%= sub.auto_score || '∅' %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
    <td><%= show_score(sub.teacher_score) %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
    <td><%= show_score(sub.score) %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
    <td>
      <%= link_to "View", sub %>

      <% if current_user.course_admin?(@course) %>
        | <%= link_to "Grade", [:edit, sub] %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
