<div id="ask-question-<%= @question.id %>">
  <div class="lesson-question">
    <%= raw @question.question %>
  </div>

  <div id="answer-form-<%= @question.id %>">
    <div class="answer-form">
      <%= form_for [@question, @answer], :remote => true do %>
  
      <%= raw @question.question_form %>
  
      <p>Attempts: <%= @answer.attempts %></p>

      <div id="submit-button-<%= @question.id %>">
	<p><%= submit_tag %></p>
      </div>
      
      <% end %>
    </div>
  </div>

  <div id="answer-status-<%= @question.id %>">
    <% if @answer.new_record? %>
      &nbsp;
    <% else %>
      <%= javascript_tag "$('#submit-button-#{@question.id}').hide();" %>
      <table>
	<tr>
	  <td><%= image_tag(@answer.correct? ? "check-mark.png" : "cross-mark.png", 
		             :height => 100) %></td>
	  <td>
	    <p>Your answer was: <%= @answer.answer %></p>
	    <p>Your <%= @answer.correct? ? "correct" : "wrong" %> answer has been saved.</p>

	    <p>You can <%= link_to_function("click here",
                     ("$('#answer-status-#{@question.id}').hide();"+
	              "$('#submit-button-#{@question.id}').show();")) %>
	      to try this question again.</p>
	    
	    <% unless @question.explanation.nil? || @question.explanation.empty? %>
	      <p>There is an <%= link_to_function "explanation", 
			      "$('#answer-explanation-#{@question.id}').show();" %> 
	      for this question.</p>
	    <% end %>
	  </td>
	</tr>
      </table>
    <% end %>
  </div>

  <div id="answer-explanation-<%= @question.id %>">
    <% unless @answer.new_record? %>
    <p><%= link_to_function "Hide Explanation", 
	 "$('#answer-explanation-#{@question.id}').hide();" %>
    </p>
    <%= raw @question.explanation %>
    <% end %>
  </div>    

  <%= javascript_tag "$('#answer-explanation-#{@question.id}').hide();" %>
</div>


