<% @page_title = "Grade a Submission" %>

<table class="table table-striped">
  <tr>
    <td><strong>Assignment</strong></td>
    <td><%= @submission.assignment.name %></td>
  </tr>
  <tr>
    <td><strong>Team Members</strong></td>
    <td><%= @submission.team.member_names %></td>
  </tr>
  <tr>
    <td><strong>Submitter</strong></td>
    <td><%= @submission.user.name %></td>
  </tr>
  <tr>
    <td><strong>Due Date</strong></td>
    <td><%= @submission.assignment.due_date %></td>
  </tr>
  <tr>
    <td><strong>Submission Date</strong></td>
    <td><%= @submission.created_at %></td>
  </tr>
  <tr>
    <td><strong>Submitted File</strong></td>
    <td><%= link_to @submission.file_name, @submission.file_path %></td>
  </tr>
  <tr>
    <td><strong>Student Notes</strong></td>
    <td><%= @submission.student_notes %></td>
  </tr>
  <tr>
    <td><strong>Automatic Score</strong></td>
    <td><%= @submission.auto_score || "no data" %> /
      <%= @assignment.points_available %></td>
  </tr>
  <tr>
    <td><strong>Late?</strong></td>
    <td><%= @submission.late? ? "Yes" : "No" %></td>
  </tr>
  <% if @submission.late? %>
  <tr>
    <td><strong>Days Late</strong></td>
    <td><%= @submission.days_late %></td>
  </tr>
  <tr>
    <td><strong>Late Penalty</strong></td>
    <td><%= 100.0 * @submission.late_penalty %>%</td>
  </tr>
  <% end %>
</table>

<h1>Grade this Submission</h1>

<%= form_for @submission do |f| %>
  <div class="form-group">
    <%= f.label :teacher_notes, "Teacher Comments" %> <br>
    <%= f.text_area :teacher_notes, class: "rich-text form-control" %>
  </div>
  <div class="form-group">
    <%= f.label(:comments_upload_file,
                class: "btn btn-default btn-file") do %>
      Upload Comments File
      <%= f.file_field :comments_upload_file, style: "display: none" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :teacher_score, "Score" %><br>
    <%= f.text_field :teacher_score, size: 10, class: "form-control" %> /
    <%= @assignment.points_available %></p>
  </div>
  <div class="form-group">
    <%= f.label :ignore_late_penalty, "Ignore Late Penalty:" %>
    <%= f.check_box :ignore_late_penalty %>
  </div>
  <div class="form-group">
    <%= f.submit "Set Teacher Score", class: "btn btn-primary" %>
  </div>
<% end %>

<%= form_for @submission do |f| %>
  <%= hidden_field_tag :rerun_autograding, true %>
  <div class="form-group">
    <%= f.submit "Rerun Autograding", class: "btn btn-default" %>
  </div>
<% end %>
