<% @page_title = "View Submission" %>

<p>
  <%= link_to "Back to Assignment: #{@assignment.name}", @assignment %>

  <% if current_user.course_admin?(@course) %>
    | <%= link_to "Grade this Submission", [:edit, @submission] %>
  <% end %>
</p>

<h1>Submission</h1>

<table class="table">
  <tr>
    <td><strong>Assignment</strong></td>
    <td><%= @submission.assignment.name %></td>
  </tr>
  <% if @submission.team.nil? %>
    <tr>
      <td><strong>Student</strong></td>
      <td><%= @submission.user.name %></td>
    </tr>
  <% else %>
    <tr>
      <td><strong>Team Members</strong></td>
      <td><%= @submission.team.member_names %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Submission Time</strong></td>
    <td><span class="local-time"><%= @submission.created_at %></span></td>
  </tr>
  <tr>
    <td><strong>Submitted File</strong></td>
    <td><%= link_to @submission.file_name, @submission.file_path %></td>
  </tr>
  <tr>
    <td><strong>Student Notes</strong></td>
    <td>
      <div class="prose"><%= @submission.student_notes %></div>
    </td>
  </tr>
</table>

<h1>Score</h1>

<table class="table table-striped">
<tr>
  <td>Automatic Score:</td>
  <td><%= show_score(@submission.auto_score) || "no data" %> /
    <%= @assignment.points_available %></td>
</tr>
<tr>
  <td>Teacher Score:</td>
  <td><%= show_score(@submission.teacher_score) || "no data" %> /
    <%= @assignment.points_available %></td>
</tr>
<% if @submission.late? %>
<tr>
  <td>Days Late:</td>
  <td><%= @submission.days_late %></td>
</tr>
<tr>
  <td>Late Penalty:</td>
  <td><%= 100.0 * @submission.late_penalty %>%</td>
</tr>
<% end %>
<tr>
  <td>Current Score:</td>
  <td><%= show_score(@submission.score) %> /
    <%= @assignment.points_available %></td>
</tr>
</table>

<h1>Teacher Notes</h1>

<% if @assignment.hide_grading? %>

<p>(Teacher notes have not yet been shared.)</p>

<% end %>

<% if (not @assignment.hide_grading?) or current_user.course_admin?(@course) %>

<div class="prose">
<%= raw @submission.teacher_notes || 'no data' %>
</div>

  <% unless @submission.comments_upload_id.nil? %>
    <p>Teacher Uploaded: <%= link_to @submission.comments_upload.file_name,
      @submission.comments_upload.path %></p>
  <% end %>

<% end %>

<% unless @submission.assignment.grading_upload_id.nil? %>

<h1>Autograding Output</h1>

<script>
  function reload_bottom() {
    window.location.href = "<%= url_for(@submission) + '#bottom' %>";
    window.location.reload(true);
  }
</script>

<p id="bottom2"><%= link_to_function "Refresh Output", "reload_bottom();" %></p>

<pre>
<% # Lack of indentation important here. %>
<%= @submission.grading_output %>
</pre>

<p id="bottom"><%= link_to_function "Refresh Output", "reload_bottom();" %></p>

<% end %>
