<% @page_title = "View Submission" %>

<p><%= link_to 'Back to Assignment', @assignment %></p>

<h1>Student Notes</h1>

<p>
  <%= @submission.student_notes %>
</p>

<h1>Submitted File</h1>
<p>
  <%= link_to @submission.file_name, @submission.file_path %>
</p>

<h1>Score</h1>

<table class="pretty-list">
<tr>
  <td>Raw Score:</td>
  <td><%= @submission.raw_score || "no data" %> / 
    <%= @assignment.points_available %></td>
</tr>
<tr>
  <td>Teacher Score:</td>
  <td><%= @submission.teacher_score || "no data" %> / 
    <%= @assignment.points_available %></td>
</tr>
<tr>
  <td>Current Score:</td>
  <td><%= @submission.score %> /
    <%= @assignment.points_available %></td>
</tr>
</table>

<% if @submission.teacher_notes %>
<script>
  $(function() { $('#edit-teacher-score').hide(); })
</script>

<h1>Teacher Notes</h1>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to_function "Edit Teacher Grade", "$('#edit-teacher-score').toggle();" %></p>
<% end %>

<div>
<%= raw @submission.teacher_notes %>
</div>

<% end %>

<% if @logged_in_user.course_admin?(@course) %>
  <div id="edit-teacher-score">
  <h1>Set Teacher Score</h1>

  <%= form_for @submission do |f| %>
  <p>Teacher Comments: <br>
     <%= f.text_area :teacher_notes, :class => "rich-text" %>
  </p>
  <p>Score: <%= f.text_field :teacher_score, :size => 10 %> / 
    <%= @assignment.points_available %></p>
  <p><%= f.submit "Set Teacher Score" %></p>
  <% end %>
  </div>
<% end %>

<h1>Grading Process</h1>

<pre>
<% # Lack of indentation important here. %>
<%= @submission.grading_output %>
</pre>

<script>
  function reload_bottom() {
    window.location.href = "<%= url_for(@submission) + '#bottom' %>";
    window.location.reload(true);
  }
</script>


<p id="bottom"><%= link_to_function "Refresh Output", "reload_bottom();" %></p>
