<%= form_for [@chapter, @lesson] do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chapter_id %>

  <table class="edit-form">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :questions_due%> <br>
        (Late after this day.)</td>
      <td><%= f.datepicker :questions_due %></td>
    </tr>
    <tr>
      <td><%= f.label :video, "Main Video" %></td>
      <td>
	<p>(Please paste YouTube embed code here.)</p>
	<p><%= f.text_area :video, size: "40x5" %></p>
      </td>
    </tr>
    <tr>
      <td><%= f.label :notes, "Instructor Notes" %></td>
      <td><%= f.text_area :notes %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>

<% end %>
