<% @page_title = "Lesson - #{@chapter.name}" %>

<p>
<%= link_to "Back to Chapter", @chapter %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
  | <%= link_to 'View Answers', lesson_answers_path(@lesson) %>
<% end %>
</p>

<h1>Lesson: <%= @lesson.name %></h1>

<p>Watch the video then answer the post-video question.</p>

<p><%= raw @lesson.video %></p>

<h2>Post Video Question</h2>

<div id="answer-form">

<%= form_for [@lesson, @answer], :remote => true do %>

<div class="lesson-question">
<%= raw @lesson.question %>
</div>

<p><%= submit_tag "Submit Answer" %></p>

<% end %>

</div>

<div id="answer-status">

<p>Your answer has been saved.</p>

</div>

<%= javascript_tag "$('#answer-status').hide();" %>

<div id="bonus-video">

<h2>Bonus Video</h2>
<p><%= raw @lesson.video2 %></p>

</div>

<%= javascript_tag "$('#bonus-video').hide();" %>
