<% @page_title = "Lesson: #{@lesson.name}" %>

<p>
<%= link_to "Back to Chapter", @chapter %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
  | <%= link_to 'View Questions', lesson_questions_path(@lesson) %>
<% end %>
</p>

<p><%= prev_and_next_lesson_links %></p>

<p>Watch the video then answer the post-video question.</p>

<p><a href="#lesson-video">Center the Video</a></p>

<div id="lesson-video">
<%= raw @lesson.video %>
</div>

<% unless @lesson.notes.nil? %>
<h2>Instructor Notes</h2>

<div id="lesson-instructor-notes">
<%= raw @lesson.notes %>
</div>
<% end %>

<h2>Post Video Questions</h2>
<% unless @chapter.questions_due.nil? || @chapter.questions_due.to_s.empty? %>
<p>These questions are due by <%= @chapter.questions_due %>.</p>
<% end %>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to 'New Question', new_lesson_question_path(@lesson) %></p>
<% end %>

<% @questions.each_index do |ii| %>
  <% @question = @questions[ii] %>
  <% @answer   = @answers[@question.id] %>

  <p><strong><%= @question.name %></strong>
    <% if @logged_in_user.course_admin?(@course) %>
      (<%= link_to "Edit", [:edit, @question] %>)
    <% end %>
  </p>

  <%= render "answers/form" %>

<% end %>

<p><%= prev_and_next_lesson_links %></p>

<script>
  // Work around display bug in Chrome.
  if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
    $(function() { $('#lesson-video').html('<%= j raw @lesson.video %>'); });
  }
</script>
