<% @page_title = "Lesson - #{@chapter.name}" %>

<p>
<%= link_to "Back to Chapter", @chapter %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
  | <%= link_to 'View Answers', lesson_answers_path(@lesson) %>
<% end %>
</p>

<h1>Lesson: <%= @lesson.name %></h1>

<p>Watch the video then answer the post-video question.</p>

<p><%= raw @lesson.video %></p>

<h2>Post Video Question</h2>

<div id="answer-form">

<%= form_for [@lesson, @answer], :remote => true do %>

<div class="lesson-question">
<%= raw @lesson.question %>
</div>

<% if @reg.nil? %>

<p>Must be registered to answer questions.</p>

<% else %>

<p><%= submit_tag "Submit Answer" %></p>

<% end %>

<% end %>

</div>

<div id="answer-right">

<table>
<tr>
  <td><%= image_tag "check-mark.png", :height => 100 %></td>
  <td><p>Your correct answer has been saved.</p></td>
</tr>
</table>

</div>

<div id="answer-wrong">

<table>
<tr>
  <td><%= image_tag "cross-mark.png", :height => 100 %></td>
  <td>
    <p>Your wrong answer has been saved. Watch the explaination video below, then 
       <%= link_to_function "click here", "$('#answer-wrong').hide(); $('#answer-form').show()" %>
       to try the question again.
    </p>
  </td>
</tr>
</table>

</div>

<div id="bonus-video">

<h2>Bonus Video</h2>
<p><%= raw @lesson.video2 %></p>

</div>

<%= javascript_tag "$('#answer-wrong').hide();" %>

<% if @right_answer %>
<%= javascript_tag "$('#answer-form').hide();" %>
<% else %>
<%= javascript_tag "$('#answer-right').hide();" %>
<%= javascript_tag "$('#bonus-video').hide();" %>
<% end %>



