<% @page_title = "Lesson: #{@lesson.name}" %>

<p>
<%= link_to "Back to Chapter", @chapter %>

<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
  | <%= link_to 'View Questions', lesson_questions_path(@lesson) %>
<% end %>
</p>

<p>Watch the video then answer the post-video question.</p>

<p><%= raw @lesson.video %></p>

<h2>Post Video Questions</h2>

<% @questions.each_index do |ii| %>
  <% @question = @questions[ii] %>
  <% @answer   = @answers[@question.id] %>
  <% @correct  = @got_it[@question.id] %>

  <p>
    Question <%= "#{ii + 1} / #{@questions.size}" %>
    <% if @logged_in_user.course_admin?(@course) %>
      (<%= link_to "Edit", [:edit, @question] %>)
    <% end %>
  </p>

  <%= render "questions/ask" %>

<% end %>
