<%= form_for [@course, @reg_request] do |f| %>
  <% if @reg_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reg_request.errors.count, "error") %> prohibited this reg_request from being saved:</h2>

      <ul>
      <% @reg_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>You are requesting access to:
  <br>Course: <strong><%= @course.name %></strong>
  <br>Term: <%= @course.term.name %>
  </p>

  <p>You are:
  <br>Name: <%= current_user.name %>
  <br>Email: <%= current_user.email %>
  </p>

  <div class="form-group">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Request Registration", id: 'submit-button', class: 'btn btn-primary' %>
  </div>
<% end %>
