<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :late_options %>

  <div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :term_id, "Term" %>
      <%= select("course", "term_id", (@terms.map {|tt| 
        [tt.name, tt.id]}), class: 'form-control') %>
    </div>
    <div class="form-group">
      <p><strong>Late Penalty</strong></p>
      <p>Deduct
      <%= text_field_tag :late_penalty, @course.late_opts[0], :size => 10 %>
      percent every 
      <%= text_field_tag :late_repeat,  @course.late_opts[1], :size => 10 %>
      days late to a maximum of
      <%= text_field_tag :late_maximum, @course.late_opts[2], :size => 10 %>
      percent off.
      </p>
    </div>
    <div>
      <%= f.label :footer, "Course-Wide Footer" %>
      <%= f.text_area :footer, size: '40x10', class: 'form-control' %>
    </div>
    <div class="form-group">
      <br>
      <p><strong>Questions Due At</strong>
        (0:00 is midnight *after* the day)</p>
      <p><%= f.time_select(:questions_due_time, {:minute_step => 15}) %></p>
    </div>
    <div class="form-group">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
