<% @page_title = "List of Courses" %>


<% if @logged_in_user.site_admin? %>

<h2>Create Course</h2>

<%= render 'form' %>

<% end %>


<h2>Your Courses</h2>

<table class="pretty-list">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= link_to 'Show', course %></td>
    <td>
      <% if @logged_in_user.site_admin? or course.taught_by?(@logged_in_user) %>
        <%= link_to 'Edit', edit_course_path(course) %>
      <% end %>
    </td>
    <td>
      <% if @logged_in_user.site_admin? %>
        <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
