<% @page_title = "Course: #{@course.name}" %>

<p>
  <%= link_to "Back to Your Courses", courses_path %> |
  <% if @logged_in_user.registration_for(@course) %>
    <%= link_to "Status Report", @registration %>
  <% else %>
    <%= link_to "Request Registration", 
	  new_course_reg_request_path(@course) %>
  <% end %>
  <% if @logged_in_user.course_admin?(@course) %>
    | <%= link_to "Edit Settings", [:edit, @course] %>
  <% end %>
</p>

<h1>Chapters</h1>

<table class="table table-striped">
  <tr>
    <th>Chapter</th>
    <th>Assignments</th>
    <th>Next Due Date</th>
    <th>&nbsp;</th>
  </tr>

  <% @course.chapters.sort_by {|cc| cc.name}.each do |chapter| %>
    <tr>
      <td><%= link_to chapter.name, chapter %></td>
      <td><%= chapter.assignments_score(@logged_in_user) %></td>
      <td><%= chapter.next_due_date_for(@logged_in_user) %></td>
      <td>
        <% if @logged_in_user.course_admin?(@course) %>
          (<%= link_to "Edit Title", [:edit, chapter] %>)
          (<%= link_to 'Destroy', chapter, 
           { method: :delete, data: { confirm: 'Are you sure?' }} %>)
         <% end %>
     </td>
   </tr>
<% end %>

</table>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to 'New Chapter', new_course_chapter_path(@course) %></p>
<% end %>


<% if @logged_in_user.course_admin?(@course) %>

<h1>Students</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Assignments</th>
    <th>Status Report</th>
  </tr>

<% @active_regs.each do |reg| %>
  <tr>
    <td><%= reg.user.name %><br>
        <%= reg.user.email %></td>
    <td><%= reg.assign_score %></td>
    <td><%= link_to "View", reg %></td>
  </tr>
<% end %>

</table>

<p><%= link_to "Manage Registrations", 
         course_registrations_path(@course) %> |
   <%= link_to "View Registration Requests",
         course_reg_requests_path(@course) %>
</p>

<h1>Data Export</h1>

<p><%= link_to "Get CSV for Assignment Grades", course_path(@course) + '/export_grades' %></p>

<% end %>

