<% @page_title = "Chapter: #{@chapter.name}" %>

<p><%= link_to "Back to Course: #{@course.name}", @course %>
<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Chapter', edit_chapter_path(@chapter) %>
<% end %>
</p>

<% unless @chapter.notes.empty? %>
  <h1>Instructor Notes</h1>
  <div class="chapter-teacher-notes">
    <%= raw @chapter.notes %>
  </div>
<% end %>

<h1>Assignments</h1>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to "New Assignment", new_chapter_assignment_path(@chapter) %></p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Assignment</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>&nbsp;</th>
  </tr>

  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= link_to assignment.name, assignment %></td>
      <td>
        <%= status_image(assignment.main_submission_for(@logged_in_user)) %>
      </td>
      <td><%= assignment.due_date %></td>
      <td>&nbsp;
        <% if @logged_in_user.course_admin?(@course) %>
          (<%= link_to 'Edit', edit_assignment_path(assignment) %>)
          (<%= link_to 'Destroy', assignment, {method: :delete,
           data: { confirm: 'Are you sure?' }} %>)    
        <% end %>
      </td>
    </tr>      
<% end %>
</table>

