<% @page_title = "Chapter: #{@chapter.name}" %>

<p><%= link_to "Back to Course: #{@course.name}", @course %>
<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Chapter', edit_chapter_path(@chapter) %>
<% end %>
</p>

<h1>Lessons</h1>

<table class="pretty-list">
  <tr>
    <th>Lesson</th>
    <th>Status</th>
    <th>Questions Due</th>
    <th>&nbsp;</th>
  </tr>

  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= link_to lesson.name, lesson %></td>
      <td><%= lesson.questions_score(@logged_in_user) %></td>
      <td><%= lesson.questions_due %></td>
      <td>&nbsp;
        <% if @logged_in_user.course_admin?(@course) %>
          (<%= link_to 'Edit', edit_lesson_path(lesson) %>)
          (<%= link_to 'Destroy', lesson, {method: :delete, 
           data: { confirm: 'Are you sure?' }} %>)
         <% end %>
     </td>
   </tr>
<% end %>
</table>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to "New Lesson", new_chapter_lesson_path(@chapter) %></p>
<% end %>

<h1>Assignments</h1>

<table class="pretty-list">
  <tr>
    <th>Assignment</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>&nbsp;</th>
  </tr>



  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= link_to assignment.name, assignment %></td>
      <td>
        <%= status_image(assignment.best_submission_for(@logged_in_user)) %>
      </td>
      <td><%= assignment.due_date %></td>
      <td>&nbsp;
        <% if @logged_in_user.course_admin?(@course) %>
          (<%= link_to 'Edit', edit_assignment_path(assignment) %>)
          (<%= link_to 'Destroy', assignment, {method: :delete,
           data: { confirm: 'Are you sure?' }} %>)    
        <% end %>
      </td>
    </tr>      
<% end %>
</table>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to "New Assignment", new_chapter_assignment_path(@chapter) %></p>
<% end %>
