<% @page_title = "Chapter: #{@chapter.name}" %>

<p><%= link_to "Back to Course: #{@course.name}", @course %>
<% if @logged_in_user.course_admin?(@course) %>
  | <%= link_to 'Edit Title', edit_chapter_path(@chapter) %>
<% end %>
</p>

<h1>Lessons</h1>

<ul>
<% @lessons.each do |lesson| %>
  <li>
    <%= link_to lesson.name, lesson %>

    <% if @logged_in_user.course_admin?(@course) %>
      (<%= link_to 'Edit', edit_lesson_path(lesson) %>)
      (<%= link_to 'Destroy', lesson, {method: :delete, 
	    data: { confirm: 'Are you sure?' }} %>)
    <% end %>
  </li>
<% end %>
</ul>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to "New Lesson", new_chapter_lesson_path(@chapter) %></p>
<% end %>

<h1>Assignments</h1>

<ul>
<% @assignments.each do |assignment| %>
  <li>
    <%= link_to assignment.name, assignment %>
    
    <% if @logged_in_user.course_admin?(@course) %>
      (<%= link_to 'Edit', edit_assignment_path(assignment) %>)
      (<%= link_to 'Destroy', assignment, {method: :delete,
	    data: { confirm: 'Are you sure?' }} %>)    
    <% end %>
  </li>
<% end %>
</ul>

<% if @logged_in_user.course_admin?(@course) %>
<p><%= link_to "New Assignment", new_chapter_assignment_path(@chapter) %></p>
<% end %>
