<!DOCTYPE html>
<html>
<head>
  <% default_page_title = "#{params[:controller]} / #{params[:action]}" %>
  <title><%= @page_title || default_page_title %>
    - Bottlenose Course Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<div class="user-controls">
  <% unless @logged_in_user.nil? %>
    Hi, <%= @logged_in_user.name %> |

    <% if @logged_in_user.site_admin? %>
      <%= link_to "Manage Users", users_url %> |
    <% end %>

    <%= link_to "Your Courses", courses_url %> |
    <%= link_to "Log Out", '/main/logout' %>
  <% end %>
</div>
<div class="page-title">
  <%= link_to (image_tag "dolphin.svg", { height: 40 }), root_url %>
  &nbsp; &nbsp;
  <%= @page_title || default_page_title %>
</div>
<div style="clear: both;"></div>
</div>

<% unless flash[:error].nil? %>
<div class="flash-error">
<p>Error: <%= flash[:error] %></p>
</div>
<% end %>

<% unless flash[:notice].nil? %>
<div class="flash-notice">
<p>Notice: <%= flash[:notice] %></p>
</div>
<% end %>

<%= yield %>

<div class="footer">
Copyright &copy 2012 Nat Tuck. Licensed under the <%= link_to( "GNU
Affero GPL", "/agpl-3.0.txt") %> v3 or later. Source <%= link_to( "at
github", "http://www.github.com/NatTuck/bottlenose") %>. The
development team takes no responsibility for death or serious injury
that may result from use of this product as intended.
</div>

</body>
</html>
