<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "#{@page_title} - " : "" %> 
    Bottlenose Course Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<div class="app-title">Bottlenose</div>
<div class="user-controls">
  <% if @user.nil? %>
    <%= link_to "Not logged in", "/" %>
  <% else %>
    Hi, <%= @user.email %> |
    <%= link_to "Log Out", '/main/logout' %>
  <% end %>
</div>
<div style="clear: both;"></div>
</div>

<% unless flash[:error].nil? %>
<div class="flash-error">
<p>Error: <%= flash[:error] %></p>
</div>
<% end %>

<% unless flash[:notice].nil? %>
<div class="flash-notice">
<p>Notice: <%= flash[:notice] %></p>
</div>
<% end %>

<% unless @page_title.nil? %>
<h1><%= @page_title %></h1>
<% end %>

<%= yield %>

<div class="footer">
The management takes no responsibility for death or serious injury
that may result from use of this product as intended.
</div>

</body>
</html>
