<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "#{@page_title} - " : "" %> 
    Bottlenose Course Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<div class="app-title">Bottlenose</div>
<div class="user-controls">Log In</div>
<div style="clear: both;"></div>
</div>

<%= yield %>

<div class="footer">
The management takes no responsibility for death or serious injury
that may result from use of this product as intended.
</div>

</body>
</html>
